<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title">Please select the Id of the Parent</h3>        
    </div>
</div>
</div>

<div class="container">
  <!-- Content here -->
<form class="needs-validation" form action="/getRate" method="get">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Id Parent</label>
      <input type="text" class="form-control" id="weight"name="weight" placeholder="Exp: 12" required>
    </div>  
  </div>
  <button class="btn btn-primary" type="submit" id="myBtn">Submit</button>
</form>
</div>

<script>


</script>


</body>
</html>
