<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title">Result</h3>    
         <p class="card-text">Name: "<%= firstName %>"</p>  
         <p class="card-text">Last Name: "<%= lastName %>"</p>    
         <p class="card-text">Date Birth: "<%= dateBirth %>"</p>    
  
    </div>
</div>
</div>

<div class="container">
  <!-- Content here -->

</div>

<script>


</script>


</body>
</html>
